<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Open API 리스트</h1>
    <p><a href="<%= url_list.dust %>">미세먼지 정보</a></p>
    <p><a href="<%= url_list.rtweather %>">날씨 정보</a></p>
    <p><a href="<%= url_list.forecast %>">날씨 예보</a></p>
  </body>
</html>
